/* Set width on the form input elements since they're 100% wide by default */
/* specificity : 0.0.1*/
input,
select,
textarea {
    max-width: 280px;
}

body {
    height: 100%;
}

/* specificity : 0.0.1*/
footer {
    /*position: sticky;*/
    font-size: small;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/* Set padding to keep content from hitting the edges */
/* specificity : 0.1.0*/
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column */
/* specificity : 0.1.1*/
.dl-horizontal dt {
    white-space: normal;
}

