@{
    var totalPages = Model.Pagination.Pages;
    var currentPage = Model.Pagination.Page;
}

<ul class="pagination">
    @if (totalPages > 1)
    {
        if (currentPage > 1)
        {
            <li class="page-item">
                <a class="page-link" href="@Url.Action("Index", new { page = currentPage - 1 })">Previous  </a>
            </li>
        }

        for (int i = 1; i <= totalPages; i++)
        {
            <li class="page-item">
                <a class="page-link" href="@Url.Action("Index", new { page = i })">@i     </a>
            </li>
        }

        if (currentPage < totalPages)
        {
            <li class="page-item">
                <a class="page-link" href="@Url.Action("Index", new { page = currentPage + 1 })">Next</a>
            </li>
        }
    }
</ul>
