@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Discogs API</h1>
        <p class="lead">@*quite a lot of TODOs left...*@</p>
        <p>@*<a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a>*@</p>
    </section>

    <div class="row">
        <section class="col-md-4">
            <h2>Search &amp; sort</h2>
            <p>In collection, inventory...</p>
            <p>By Artist / Title / Label</p>
            <p>@*<a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a>*@</p>
        </section>
        <section class="col-md-4">
            <h2>Orders by month / country</h2>
            <p>Google Maps API</p>
            <p>months and countries in DB</p>
            <p>@*<a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a>*@</p>
        </section>
        <section class="col-md-4">
            <h2>Orders &amp; Inventory</h2>
            <p>@*You can easily find a web hosting company that offers the right mix of features and price for your applications.*@</p>
            <p>@*<a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a>*@</p>
        </section>
    </div>
</main>